{% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ field.name }}: {{ error|escape }}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
                <p>{{ field.name }}: {{ error|escape }}</p>
        {% endfor %}
         </div>
    {% endif %}
