.documents-form label[for="teacherdocuments_set-0-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-1-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-2-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-3-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-4-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-5-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-6-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-7-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-8-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-9-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-10-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-11-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-12-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-13-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-14-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-15-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-16-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-17-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-18-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-19-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-20-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-21-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-22-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-23-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-24-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-25-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-26-file_name-clear_id"]{display: none;}
.documents-form label[for="teacherdocuments_set-27-file_name-clear_id"]{display: none;}

.dropdown-content {
	top: 100% !important;
}
table {
	width: 100% !important;
}